body {
  text-align:center;
  background-color: #141414;
}

h1 {
  color: #b688ff;
  font-family: Verdana, sans-serif;
  font-size: 96px;
}

a {
  color: #b688ff;
  font-family: Verdana, sans-serif;
  font-size: 36px;
}
div {
  padding-bottom: 3%;
}
